<section>
    <div class="contLogin" >
      <div class="header-form">
      <h1>Crie uma conta no <b><img src="../../../../assets/logo (1).png" alt=""></b> </h1>
    </div>

      <form [formGroup]="formSign"> 
        <div class="contInput">
            <label>
              <span>
               Nome
              </span>
              <input type="text" formControlName="name">
            </label>
          </div>
        
        <div class="contInput">
          <label>
            <span>
              E-mail
            </span>
            <input type="email" formControlName="email">
          </label>
        </div>
  
        <div class="contInput">
          <label>
            <span>
              Senha
            </span>
            <input type="password" formControlName="password">
          </label>
        </div>
      </form>
  
      <button (click)="criaLogin()" class="btn">
        Criar usuário
      </button>
  
      <p>Já tem uma conta? Entre <a class="login" *ngIf="!this.router.url.includes('/login')" routerLink="/login">aqui</a></p>

    </div>
  </section>    
