@use '@angular/material' as mat;
@use 'sass:map';

header {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    position: sticky;
    top: 0;
    width: calc(100% - 32px);
    z-index: 1000;
    max-width: 100%;

    img {
        width: 100%;
        max-width: 310px;
        height: auto;
        cursor: pointer;
    }

    .btn {
        display: flex;
        gap: 16px;

        button {
            border-radius: 12px;
            background: rgb(116, 22, 116);
            color: #ffffff;
            font-size: 20px;
            padding: 8px 20px;
        }
    }
    @media (max-width: 620px) {

        .btn {
            padding: 0;
            gap: 4px;
            button {
                font-size: 9px;
                padding: 4px 8px;
            }
        }
    
        img {
            max-width: 150px;
        }
    }
}

