<section *ngIf="!trocaTela; else elseBlock">
  <div class="contLogin">
    <div class="header-form">
      <h1>Confirme seu e-mail para receber o codigo e alterar a sua senha</h1>
    </div>

    <form [formGroup]="formGetPasswordFormGroup">
      <div class="contInput">
        <label>
          <span> E-mail </span>
          <input type="email" formControlName="email" />
        </label>
      </div>

      <button [disabled]="checkForm()" (click)="enviarToken()" class="btn">
        {{tokenEnviado ? 'Reenviar token' : 'Enviar Token'}}
      </button>
			
      <button *ngIf="tokenEnviado" (click)="validarToken()" class="btn">
        Validar token
      </button>
    </form>
  </div>
</section>

<ng-template #elseBlock>
  <section>
    <div class="contLogin">
      <div class="header-form">
        <h1>Coloque seus dados para alterar a sua senha</h1>
      </div>

      <form [formGroup]="formGetPasswordFormGroup">
        <div class="contInput">
          <label>
            <span> E-mail </span>
            <input type="email" formControlName="email" />
          </label>
        </div>

        <div class="contInput">
          <label>
            <span> Senha </span>
            <input type="password" formControlName="senha" />
          </label>
        </div>

        <div class="contInput">
          <label>
            <span> Token </span>
            <input type="text" formControlName="token" />
          </label>
        </div>
      </form>
			
      <a (click)="mudarEmail()">Trocar email</a>
			
      <button (click)="trocaSenha()" class="btn" type="button">
        Trocar senha
      </button>
			
    </div>
  </section>
</ng-template>

<!-- Confirme seu email para receber o codigo e alterar sua senha 
input de email
botao escrito enviar token -->

<!--
Trocar tela de html
dar o true depois que clicar no botao
input de email,senha nova,codigo

vai ser enviado:
{
	"email": "a.pedreschi32@gmail.com",
	"token": "2e92292ace91fd0eaf41bf0536280f5cd6c27018",
	"password": "12345678"
}
	botao troca senha chama funcao troca senha
	/auth/reset_password

	outro service outra funcao e layout


	3 exemplos de bancos de dados relacionais e tres q nao sao
-->
