
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-button {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background: #ab6eed;
    border-radius: 8px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 8px;
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }
}
